.h2\.5 { height: 3rem; }
.w2\.25 { width: 2.5rem; }

.w2\.7 { width: 3.33rem; }

.w4\.25 { width: 10rem; }
.w4\.5 { width: 12rem; }

.card-stack { margin-right: -2.1rem }
.card-back { background: linear-gradient(133deg, rgba(186,186,186,1) 0%, rgba(110,110,110,1) 100%) }