.h2\.5 { height: 3rem; }
.w2\.25 { width: 2.5rem; }

.w2\.7 { width: 3.33rem; }

.w4\.25 { width: 10rem; }
.w4\.5 { width: 12rem; }

.card-stack { margin-right: -2.1rem }
.card-back { background: linear-gradient(133deg, rgb(224, 224, 224) 0%, rgb(167, 167, 167) 100%) }

.logs {
  line-height: 2.5ex;
  height: 10ex;
  overflow-y: scroll;
}

* ::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

@media screen and (min-width: 50em) {
  /*
   * Padding - Medium Screens
   */
  .ph6\.5-m {
    padding-left: 10rem; padding-right: 10rem;
  }

  .pr6\.5-m {
    padding-right: 10rem;
  }
}
